<%= form_for(@post) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<form class="form-style-9">
<ul>
  <div class="field-style field-split align-left" type="text" name="field1"  placeholder="Name" >
    <%= f.label :title %>
    <%= f.text_field :title %></br>
  </div>
  <div class="field-style" name="field5" placeholder="Message">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div class="actions" type="submit" />
    <%= f.submit %>
  </div>
  </ul>
  </form>
<% end %>




